<div class="content">
    <div class="flex-center flex-dir-col" style="height: 100%;">
        <h1 class="app-title">Aaron Lee</h1>
        <h2 class="maker">created by : </h2>
        <h3 class="description"> Info about web application: The dynamic web application is designed and programmed for users to control their devices in their home. The users will provide information of their devices based on predetermined conditions and input the desired settings of the user into a data form, and the data will then be registered and saved in the SQL database. </h3>
    </div>
</div>
