<div class="content">
    <h2 class="top-title">Add new home devices </h2>
    <br>
    <% if(message !== "") { %>
        <div class="notification hide"><%= message %></div>
    <% } %>
    <div class="devices grid-select">
        <div class="device-card" style="border-radius:1rem;">
            <div class="top flex-center">
                <div class="device-name" style="font-size: 20px;">
                    Lights
                </div>
            </div>
            <div class="bottom flex-center">

                <div class="flex-center">
                    <li class="material-icons" style="font-size: 80px;position: relative;top: 15px;">lightbulb</li>
                </div>
            </div>
        </div>
        <div class="device-card" style="border-radius:1rem;">
            <div class="top flex-center">
                <div class="device-name" style="font-size: 20px;">
                    Oven
                </div>
            </div>
            <div class="bottom flex-center">
                <div class="flex-center">
                    <li class="material-icons" style="font-size: 80px;position: relative;top: 15px;">kitchen</li>
                </div>
            </div>
        </div>
        <div class="device-card" style="border-radius:1rem;">
            <div class="top flex-center">
                <div class="device-name" style="font-size: 20px;">
                    Tv
                </div>
            </div>
            <div class="bottom flex-center">

                <div class="flex-center">
                    <li class="material-icons" style="font-size: 80px;position: relative;top: 15px;">tv</li>
                </div>
            </div>
        </div>
        <div class="device-card" style="border-radius:1rem;">
            <div class="top flex-center">
                <div class="device-name" style="font-size: 20px;">
                    Air Conditioner
                </div>
            </div>
            <div class="bottom flex-center">

                <div class="flex-center">
                    <li class="material-icons" style="font-size: 80px;position: relative;top: 15px;">air</li>
                </div>
            </div>
        </div>
        <div class="device-card" style="border-radius:1rem;">
            <div class="top flex-center">
                <div class="device-name" style="font-size: 20px;">
                    Thermostat
                </div>
            </div>
            <div class="bottom flex-center">

                <div class="flex-center">
                    <li class="material-icons" style="font-size: 80px;position: relative;top: 15px;">thermostat</li>
                </div>
            </div>
        </div>
        <div class="device-card" style="border-radius:1rem;">
            <div class="top flex-center">
                <div class="device-name" style="font-size: 20px;">
                    Door Lock
                </div>
            </div>
            <div class="bottom flex-center">

                <div class="flex-center">
                    <li class="material-icons" style="font-size: 80px;position: relative;top: 15px;">meeting_room</li>
                </div>
            </div>
        </div>
        <div class="device-card" style="border-radius:1rem;">
            <div class="top flex-center">
                <div class="device-name" style="font-size: 20px;">
                    Water Dispenser
                </div>
            </div>
            <div class="bottom flex-center">

                <div class="flex-center">
                    <li class="material-icons" style="font-size: 80px;position: relative;top: 15px;">shower</li>
                </div>
            </div>
        </div>
        <div class="device-card" style="border-radius:1rem;">
            <div class="top flex-center">
                <div class="device-name" style="font-size: 20px;">
                    Camera
                </div>
            </div>
            <div class="bottom flex-center">

                <div class="flex-center">
                    <li class="material-icons" style="font-size: 80px;position: relative;top: 15px;">camera</li>
                </div>
            </div>
        </div>
        <div class="device-card" style="border-radius:1rem;">
            <div class="top flex-center">
                <div class="device-name" style="font-size: 20px;">
                    Alarm Clock
                </div>
            </div>
            <div class="bottom flex-center">

                <div class="flex-center">
                    <li class="material-icons" style="font-size: 80px;position: relative;top: 15px;">alarm</li>
                </div>
            </div>
        </div>
        <div class="device-card" style="border-radius:1rem;">
            <div class="top flex-center">
                <div class="device-name" style="font-size: 20px;">
                    Radio
                </div>
            </div>
            <div class="bottom flex-center">

                <div class="flex-center">
                    <li class="material-icons" style="font-size: 80px;position: relative;top: 15px;">radio</li>
                </div>
            </div>
        </div>
        <div class="device-card" style="border-radius:1rem;">
            <div class="top flex-center">
                <div class="device-name" style="font-size: 20px;">
                    Electronic Fan
                </div>
            </div>
            <div class="bottom flex-center">

                <div class="flex-center">
                    <li class="material-icons" style="font-size: 80px;position: relative;top: 15px;">hvac</li>
                </div>
            </div>
        </div>
        <div class="device-card" style="border-radius:1rem;">
            <div class="top flex-center">
                <div class="device-name" style="font-size: 20px;">
                    Speakers
                </div>
            </div>
            <div class="bottom flex-center">
                <div class="flex-center">
                   <li class="material-icons" style="font-size: 80px;position: relative;top: 15px;">speaker</li>
                </div>
            </div>
        </div>
        <div class="device-card" style="border-radius:1rem;">
            <div class="top flex-center">
                <div class="device-name" style="font-size: 20px;">
                    Laptop
                </div>
            </div>
            <div class="bottom flex-center">

                <div class="flex-center">
                    <li class="material-icons" style="font-size: 80px;position: relative;top: 15px;">laptop</li>
                </div>
            </div>
        </div>
        <div class="device-card" style="border-radius:1rem;">
            <div class="top flex-center">
                <div class="device-name" style="font-size: 20px;">
                    Rice Cooker
                </div>
            </div>
            <div class="bottom flex-center">

                <div class="flex-center">
                    <li class="material-icons" style="font-size: 80px;position: relative;top: 15px;">countertops</li>
                </div>
            </div>
        </div>
        <div class="device-card" style="border-radius:1rem;">
            <div class="top flex-center">
                <div class="device-name" style="font-size: 20px;">
                    Fridge
                </div>
            </div>
            <div class="bottom flex-center">

                <div class="flex-center">
                    <li class="material-icons" style="font-size: 80px;position: relative;color: black;top: 15px;">kitchen</li>
                </div>
            </div>
        </div>
        <div class="device-card" style="border-radius:1rem;">
            <div class="top flex-center">
                <div class="device-name" style="font-size: 20px;">
                    Washing Machine
                </div>
            </div>
            <div class="bottom flex-center">

                <div class="flex-center">
                    <li class="material-icons" style="font-size: 80px;position: relative;top: 15px;">local_laundry_service</li>
                </div>
            </div>
        </div>
        <div class="device-card" style="border-radius:1rem;">
            <div class="top flex-center">
                <div class="device-name" style="font-size: 20px;">
                    Coffee Machine
                </div>
            </div>
            <div class="bottom flex-center">

                <div class="flex-center">
                    <li class="material-icons" style="font-size: 80px;position: relative;top: 15px;">coffee</li>
                </div>
            </div>
        </div>
        <div class="device-card" style="border-radius:1rem;">
            <div class="top flex-center">
                <div class="device-name" style="font-size: 20px;">
                    Heater
                </div>
            </div>
            <div class="bottom flex-center">

                <div class="flex-center">
                    <li class="material-icons" style="font-size: 80px;position: relative;color: black;top: 15px;">hvac</li>
                </div>
            </div>
        </div>
        <div class="device-card" style="border-radius:1rem;">
            <div class="top flex-center">
                <div class="device-name" style="font-size: 20px;">
                    Air Purifier
                </div>
            </div>
            <div class="bottom flex-center">

                <div class="flex-center">
                    <li class="material-icons" style="font-size: 80px;position: relative;top: 15px;">air</li>
                </div>
            </div>
        </div>
        <div class="device-card" style="border-radius:1rem;">
            <div class="top flex-center">
                <div class="device-name" style="font-size: 20px;">
                    computer
                </div>
            </div>
            <div class="bottom flex-center">

                <div class="flex-center">
                    <li class="material-icons" style="font-size: 80px;position: relative;top: 15px;">desktop_windows</li>
                </div>
            </div>
        </div>
    </div>
    <div class="devices-form hide">
        <form action="/add-device" method="post">
            <div class="form-input name flex">
                <h3 class="form-title"></h3>
                <input id="device_type" type="hidden" name="type" value="">
            </div>
            <div class="form-input name flex">
                <label class="label" for="">Device Name : </label>
                <div class="flex">
                    <input type="text" name="dev_name" required>
                </div>
            </div>
            <div class="form-input flex">
                <label class="label" for="onof">status : </label>
                <div class="flex-center">
                    <span style="margin-right: 8px;font-size:14px;">Off </span>
                    <label class="switch" >
                        <input type="checkbox" name="onof" id="onof">
                        <span class="slider round"></span>
                    </label>
                    <span  style="margin-left: 8px;font-size:14px;"> On</span>
                </div>
            </div>
            <div class="form-input open flex hide">
                <label class="label" for="onof">open/close</label>
                <div class="flex-center">
                    <span style="margin-right: 8px;font-size:14px;">Close </span>
                    <label class="switch">
                        <input type="checkbox" name="openclose" id="openclose">
                        <span class="slider round"></span>
                    </label>
                    <span  style="margin-left: 8px;font-size:14px;"> Open</span>
                </div>
            </div>
            <div class="form-input temp flex hide">
                <label class="label" for="onof">Temperature in °C : </label>
                <div class="flex">
                    <input id="temper" type="number" name="temp" max="100">
                </div>
            </div>
            <div class="form-input bright flex hide">
                <label class="label"  for="onof">Brightness in % : </label>
                <div class="flex">
                    <input type="number" min="0" max="100" name="bright">
                </div>
            </div>
            <div class="form-input vol flex hide">
                <label class="label"  class="label"  for="onof">Volume in % : </label>
                <div class="flex">
                    <input type="number" min="0" max="100" name="volume">
                </div>
            </div>
            <div class="form-input speed flex hide">
                <label class="label"  for="onof">Speed : </label>
                <div class="flex">
                    <input type="number" min="0" max="100" name="speed">
                </div>
            </div>
            <div class="form-input color flex hide">
                <label class="label" for="onof">Color : </label>
                <div class="flex">
                    <input type="color" name="color">
                </div>
            </div>
            <div class="form-input chan flex hide">
                <label class="label"  for="">Channel ( 1 - 10 ) : </label>
                <div class="flex">
                    <input type="number" min="1" max="10" name="channel">
                </div>
            </div>
            <div class="form-input loc flex">
                <label class="label" for="">Location : </label>
                <div class="flex">
                    <input type="text" name="location" required>
                </div>
            </div>
            <div class="form-input">
                <input class="btn" type="submit" value="add device">
            </div>
        </form>
    </div>
</div>

