<div class="content">
    <div class="flex-center flex-dir-col" style="height: 100%;">
        <h1 class="app-title">Smart Home Devices Manager V 0.1.1</h1>
        <h2 class="maker">Aaron Lee</h2>
    </div>
</div>
